.header-main nav {
  border: #dac5a7 1px solid;
  min-width: 594.17px;
  .primary-nav__menu-link {
    color: #dac5a7 !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
